*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.p{
    padding: 0 1rem;
}
.hero{
    height: 90vh;
    background: url('../assets/Comingsoonbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;


    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px){
    #bg_svg{
        display: none;
    }
    .comingSoon-box{
        margin-left: 0;
    }
    .comingSoon{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .comingSoon-p{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 800px){
    .hero{
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        grid-row-gap: 17rem;
    }
}

@media only screen and (max-width: 480px){
    .hero{
        grid-row-gap: 17rem;
        background-size: 100% 636px;
        height: 100%;
        width: 100%;
    }
    .comingSoon-box{
        margin-top: 15px;
    }
    .comingSoon{
        font-size: 1.7rem;
    }
    .comingSoon-p{
        line-height: 1.1rem;
        font-size: .9rem;
        font-weight: 200;
        word-spacing: normal;
    }
}